/* Coolors Exported Palette - coolors.co/ee6055-60d394-aaf683-ffd97d-ff9b85 */

/* HSL */
$color1: hsla(4%, 82%, 63%, 1);
$color2: hsla(147%, 57%, 60%, 1);
$color3: hsla(100%, 86%, 74%, 1);
$color4: hsla(42%, 100%, 75%, 1);
$color5: hsla(11%, 100%, 76%, 1);

/* RGB */
$color1: rgba(238, 96, 85, 1);
$color2: rgba(96, 211, 148, 1);
$color3: rgba(170, 246, 131, 1);
$color4: rgba(255, 217, 125, 1);
$color5: rgba(255, 155, 133, 1);

/* Coolors Exported Palette - coolors.co/fff07c-80ff72-7ee8fa-eec0c6-e58c8a */

/* HSL */
$color1: hsla(53%, 100%, 74%, 1);
$color2: hsla(114%, 100%, 72%, 1);
$color3: hsla(189%, 93%, 74%, 1);
$color4: hsla(352%, 58%, 84%, 1);
$color5: hsla(1%, 64%, 72%, 1);

/* RGB */
$color1: rgba(255, 240, 124, 1);
$color2: rgba(128, 255, 114, 1);
$color3: rgba(126, 232, 250, 1);
$color4: rgba(238, 192, 198, 1);
$color5: rgba(229, 140, 138, 1);

/* Coolors Exported Palette - coolors.co/eaebed-006989-a3bac3-007090-01a7c2 */

/* HSL */
$color1: hsla(220%, 8%, 92%, 1);
$color2: hsla(194%, 100%, 27%, 1);
$color3: hsla(197%, 21%, 70%, 1);
$color4: hsla(193%, 100%, 28%, 1);
$color5: hsla(188%, 99%, 38%, 1);

/* RGB */
$color1: rgba(234, 235, 237, 1);
$color2: rgba(0, 105, 137, 1);
$color3: rgba(163, 186, 195, 1);
$color4: rgba(0, 112, 144, 1);
$color5: rgba(1, 167, 194, 1);


/* Coolors Exported Palette - coolors.co/ff934f-c2e812-91f5ad-ffffff-bfcbc2 */

/* HSL */
$color1: hsla(23%, 100%, 65%, 1);
$color2: hsla(71%, 86%, 49%, 1);
$color3: hsla(137%, 83%, 76%, 1);
$color4: hsla(0%, 0%, 100%, 1);
$color5: hsla(135%, 10%, 77%, 1);

/* RGB */
$color1: rgba(255, 147, 79, 1);
$color2: rgba(194, 232, 18, 1);
$color3: rgba(145, 245, 173, 1);
$color4: rgba(255, 255, 255, 1);
$color5: rgba(191, 203, 194, 1);

/* Coolors Exported Palette - coolors.co/04e762-f5b700-dc0073-008bf8-89fc00 */

/* HSL */
$color1: hsla(145%, 97%, 46%, 1);
$color2: hsla(45%, 100%, 48%, 1);
$color3: hsla(329%, 100%, 43%, 1);
$color4: hsla(206%, 100%, 49%, 1);
$color5: hsla(87%, 100%, 49%, 1);

/* RGB */
$color1: rgba(4, 231, 98, 1);
$color2: rgba(245, 183, 0, 1);
$color3: rgba(220, 0, 115, 1);
$color4: rgba(0, 139, 248, 1);
$color5: rgba(137, 252, 0, 1);

/* Coolors Exported Palette - coolors.co/ff8360-e8e288-7dce82-3cdbd3-00fff5 */

/* HSL */
$color1: hsla(13%, 100%, 69%, 1);
$color2: hsla(56%, 68%, 72%, 1);
$color3: hsla(124%, 45%, 65%, 1);
$color4: hsla(177%, 69%, 55%, 1);
$color5: hsla(178%, 100%, 50%, 1);

/* RGB */
$color1: rgba(255, 131, 96, 1);
$color2: rgba(232, 226, 136, 1);
$color3: rgba(125, 206, 130, 1);
$color4: rgba(60, 219, 211, 1);
$color5: rgba(0, 255, 245, 1);


/* Coolors Exported Palette - coolors.co/fc633a-f3e96b-63da6c-19e6dd-17f3f6 */

/* HSL */
$color1: hsla(13%, 97%, 61%, 1);
$color2: hsla(56%, 85%, 69%, 1);
$color3: hsla(125%, 62%, 62%, 1);
$color4: hsla(177%, 80%, 50%, 1);
$color5: hsla(181%, 93%, 53%, 1);

/* RGB */
$color1: rgba(252, 99, 58, 1);
$color2: rgba(243, 233, 107, 1);
$color3: rgba(99, 218, 108, 1);
$color4: rgba(25, 230, 221, 1);
$color5: rgba(23, 243, 246, 1);

/* Coolors Exported Palette - coolors.co/6b5ac4-f4b82c-1c95ff-11cdfc-4eea10 */

/* HSL */
$color1: hsla(250%, 47%, 56%, 1);
$color2: hsla(42%, 90%, 56%, 1);
$color3: hsla(208%, 100%, 55%, 1);
$color4: hsla(192%, 98%, 53%, 1);
$color5: hsla(103%, 87%, 49%, 1);

/* RGB */
$color1: rgba(107, 90, 196, 1);
$color2: rgba(244, 184, 44, 1);
$color3: rgba(28, 149, 255, 1);
$color4: rgba(17, 205, 252, 1);
$color5: rgba(78, 234, 16, 1);

/* Coolors Exported Palette - coolors.co/1e91d6-0072bb-8fc93a-e4cc37-e18335 */

/* HSL */
$color1: hsla(203%, 75%, 48%, 1);
$color2: hsla(203%, 100%, 37%, 1);
$color3: hsla(84%, 57%, 51%, 1);
$color4: hsla(52%, 76%, 55%, 1);
$color5: hsla(27%, 74%, 55%, 1);

/* RGB */
$color1: rgba(30, 145, 214, 1);
$color2: rgba(0, 114, 187, 1);
$color3: rgba(143, 201, 58, 1);
$color4: rgba(228, 204, 55, 1);
$color5: rgba(225, 131, 53, 1);


/* Coolors Exported Palette - coolors.co/35cfff-74ea56-f6ff00-ffb600-ff4800 */

/* HSL */
$color1: hsla(194%, 100%, 60%, 1);
$color2: hsla(108%, 78%, 63%, 1);
$color3: hsla(62%, 100%, 50%, 1);
$color4: hsla(43%, 100%, 50%, 1);
$color5: hsla(17%, 100%, 50%, 1);

/* RGB */
$color1: rgba(53, 207, 255, 1);
$color2: rgba(116, 234, 86, 1);
$color3: rgba(246, 255, 0, 1);
$color4: rgba(255, 182, 0, 1);
$color5: rgba(255, 72, 0, 1);

/* Coolors Exported Palette - coolors.co/1e3888-47a8bd-f5e663-ffad69-9c3848 */

/* HSL */
$color1: hsla(225%, 64%, 33%, 1);
$color2: hsla(191%, 47%, 51%, 1);
$color3: hsla(54%, 88%, 67%, 1);
$color4: hsla(27%, 100%, 71%, 1);
$color5: hsla(350%, 47%, 42%, 1);

/* RGB */
$color1: rgba(30, 56, 136, 1);
$color2: rgba(71, 168, 189, 1);
$color3: rgba(245, 230, 99, 1);
$color4: rgba(255, 173, 105, 1);
$color5: rgba(156, 56, 72, 1);
