.tasksContainer {
    position: sticky;
    right: 0;
    top: 20px;
    width: auto;
    height: 100%;
    z-index: 1;
}

.tasksSidebar {
    position: fixed;
    right: 0;
    top: 15px;
    height: 95vh;
    width: 280px;
    padding: 7px;
    border-radius: 3px;
    background-color: lightgray;
    border: 2px solid var(--primaryDark);
}
#taskListContainer{
    position: static;
    margin-top: 8%;
    margin-right: auto;
    margin-left: auto;
    height: 80% !important;
}
#dashboardSidebarContentContainer{
    height: 83%;
    margin-top: 5%;
}

.taskHeader{
    border-bottom: 4px solid white !important;
    padding-bottom: 5px !important;
    margin-right: 10px !important;
}

.description{
    color: white !important;
}
.taskDiv {
    margin-left: 10px;
}

#openTasksButton{
    transform: rotate(270deg);
    position: absolute;
    right: -46px;
    top: 42px;
    width: 120px;
    color: white;
    background-color: var(--primaryDark);
    border: 1px solid white;
    border-radius: 0px;
    transition: 0.5s ease;
}
#openTasksButton:hover{
    color: var(--primaryDark);
    background-color: lightgray;
    border: 2px solid var(--primaryDark);
    width: 124px;
    transition: 0.5s ease;
}
#closeTasksButton{
    color: white;
    background-color: var(--primaryDark);
    transition: 0.5s ease;
}
#closeTasksButton:hover{
    color: var(--primaryDark);
    background-color: white;
    transition: 0.5s ease;
}

.completed{
    text-decoration: white line-through;
    opacity: 0.6;
}

.checkMark {
    color: limegreen;
    font-size: 15px !important;
    transition: 0.5s ease;
}
.checkMark:hover {
    color: lime;
    font-size: 20px !important;
    margin-left: -10px !important;
    cursor: pointer;
    transition: 0.5s ease;
}
.xMark {
    color: #ce1414;
    font-size: 15px !important;
    transition: 0.5s ease;
}
.xMark:hover {
    color: #ff3131;
    font-size: 20px !important;
    cursor: pointer;
    transition: 0.5s ease;
}
.deleteTask {
    color: gray;
    padding-right: 20px !important;
}
.deleteTask:hover{
    color: lightgray;
    cursor: pointer;
}
.createFormButton{
    position: absolute;
    margin-left: 67px !important;
    bottom: 3vh !important;
}
#formInputs {
    color: white;
}