@import "../Participate.css";

.footerContainer {
    position: absolute !important;
    bottom: 0 !important;
    width: 100%;
}

.footer {
    background-color: var(--primaryDark);
    padding-bottom: 20px;
}

.footerLinks {
    margin-left: 8%;
}