@import "../Participate.css";


.navContainer {
    background-color: var(--primaryDark);
    height: 90%;
}

#logo {
    height: 100%;
    width: 280px;
    margin-bottom: 8px;
}

.navDropDownContainer {
    border-radius: 3px;
    padding-left: 12px;
}
.navLinksContainer{
    margin-left: 5%;
    width: 60% !important;
    display: flex !important;
    justify-content: space-between !important;
}
.navLink{
    color: aliceblue !important;
    transition: 0.5s ease;
    border-radius: 4px;

}
.navLink:hover{
    color: var(--accent1) !important;
    background-color: var(--accent2) !important;
    padding-left: 10px;
    padding-right: 10px;
    transition: 0.5s ease;
}

.loginPopUp{
    margin-top: 5% !important;
}

.navContainer .ui.toggle.checkbox label:after{
    z-index: 1 !important;
}
.navContainer .ui.toggle.checkbox label:before {
    background: lightgray !important;
}