@import "../Participate.css";

.welcomeMessage:first-child{
    margin-top: 10% !important;
    height: 60% !important;
}
.modal-content{
    width: 120% !important;
    height: 100% !important;
}
.mapHeader{

    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 1px lightgray;
    width: 90% !important;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--primaryDark) !important;
    box-shadow: 0px 0px 0px 2px lightgray;
}
.pageContainer {
    border-top: 1px solid black;
}