
:root {
    /* Coolors Exported Palette - coolors.co/35cfff-74ea56-f6ff00-ffb600-ff4800 */

    --vividSkyBlue: rgba(53, 207, 255, 1);
    --niceBlue: rgba(57, 182, 255, 1);
    --royalishBlue: rgba(1, 74, 173, 1);
    --pastelGreen: rgba(116, 234, 86, 1);
    --lemonGlacier: rgba(246, 255, 0, 1);
    --orange: rgba(255, 182, 0, 1);
    --red: rgba(255, 72, 0, 1);

/* Coolors Exported Palette - coolors.co/eaebed-006989-a3bac3-007090-01a7c2 */

    --isabelline: rgba(234, 235, 237, 1);
    --independence: rgba(63, 79, 109, 1);
    --wildBlueYonder: rgba(163, 186, 195, 1);
    --seaBlue: rgba(0, 112, 144, 1);
    --bondiBlue: rgba(1, 167, 194, 1);
}


/* ************************************************ */
/* *** Begin Styling for Universal Components ***** */
/* ************************************************ */


/* ***** Find NavBar in NavBar.css */
/* ***** Find Footer in Footer.css*/

.mapContainer {
    width: 90%;
    max-width: 800px;
    padding-top: 40px;
    margin-right: auto;
    margin-left: auto;
        
}


