
:root {
    /* Coolors Exported Palette - coolors.co/35cfff-74ea56-f6ff00-ffb600-ff4800 */

    --vividSkyBlue: rgba(53, 207, 255, 1);
    --niceBlue: rgba(57, 182, 255, 1);
    --royalishBlue: rgba(8, 97, 218, 1);
    --pastelGreen: rgba(116, 234, 86, 1);
    --lemonGlacier: rgba(246, 255, 0, 1);
    --orange: rgba(255, 182, 0, 1);
    --red: rgba(255, 72, 0, 1);

/* Coolors Exported Palette - coolors.co/eaebed-006989-a3bac3-007090-01a7c2 */

    --isabelline: rgba(234, 235, 237, 1);
    --independence: rgba(63, 79, 109, 1);
    --wildBlueYonder: rgba(163, 186, 195, 1);
    --seaBlue: rgba(0, 112, 144, 1);
    --bondiBlue: rgba(1, 167, 194, 1);
}


/* ************************************************ */
/* *** Begin Styling for Universal Components ***** */
/* ************************************************ */


/* ***** Find NavBar in NavBar.css */
/* ***** Find Footer in Footer.css*/

.stateBanner{
    color: var(--isabelline);
    background-color: var(--independence);
    width: 40%;
    border-radius: 5px;
    box-shadow: 2px 2px 2px gray;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    text-align: center;
    padding: 10px;
}

.mapContainer {
    max-width: 900px;
    padding-top: 40px;
    margin-right: auto;
    margin-left: auto;       
}
body {
    height: 100%;
}
#mainContainer{
    height: 100%;
}
#bodyWrapper {
    position: relative;
    min-height: 100vh;
    margin-bottom: 5vh !important;
    
}

@media (min-width: 1300px) {
    .mapContainer{
        max-width: 80% !important;
    }

    #bodyWrapper {
        position: relative;
        min-height: 100vh !important;
        margin-top: 0% !important;
        margin-left: 25%;
        height: 100%;
    }

    .navContainer{
        flex-direction: column !important;
        position: fixed !important;
        top: 0;
        left: 0 !important;
        height: 100% !important;

    }

    #navLogin {
        margin-bottom: 200% !important;
    }

    .navLinksContainer {
        flex-direction: column !important;
    }
    .navLink{
        text-align: center !important;
        width: 200px !important;
    }

    .footerLinks {
        margin-left: 40% !important;
    }

}

@media (max-width: 384px){

    .navContainer{
        justify-content: center !important;
    }

}