.jumbotron {
    position: relative !important;
    box-shadow: 1px 1px 2px 2px lightgray;
}

.fullMapContainer {
    padding-top: 3%;
    padding-bottom: 2%;
    padding-left: 6%;
    padding-right: 6%;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-top: 1px solid lightgray;
}

.actualMap {
    margin-top: 25px;
}

/* fill doesn't work when each path is wrapped in a link */

#AK,#AL,#AZ,#AR,#CA,#CO,#CT,#DE,#FL,#GA,#HI,#ID,#IL,#IN,#IA,#KS,#KY,#LA,#ME,#MD,#MA,#MI,#MN,#MS,#MO,#MT,#NE,#NV,#NH,#NJ,#NM,#NY,#NC,#ND,#OH,#OK,#OR,#PA,#RI,#SC,#SD,#TN,#TX,#UT,#VT,#VA,#WA,#WV,#WI,#WY,#AS,#GU,#MP,#PR {
    fill: var(--royalishBlue)
}

.disabledState:hover{
    cursor: pointer;
    fill: var(--red) !important;
}
.activeState:hover {
    cursor: pointer;
    fill: var(--bondiBlue) !important;
}

/* #AK:hover,#AL:hover,#AZ:hover,#AR:hover,#CA:hover,#CO:hover,#CT:hover,#DE:hover,#FL:hover,#GA:hover,#HI:hover,#ID:hover,#IL:hover,#IN:hover,#IA:hover,#KS:hover,#KY:hover,#LA:hover,#ME:hover,#MD:hover,#MA:hover,#MI:hover,#MN:hover,#MS:hover,#MO:hover,#MT:hover,#NE:hover,#NV:hover,#NH:hover,#NJ:hover,#NM:hover,#NY:hover,#NC:hover,#ND:hover,#OH:hover,#OK:hover,#OR:hover,#PA:hover,#RI:hover,#SC:hover,#SD:hover,#TN:hover,#TX:hover,#UT:hover,#VT:hover,#VA:hover,#WA:hover,#WV:hover,#WI:hover,#WY:hover,#AS:hover,#GU:hover, #MP:hover,#PR:hover, 
#VI:hover {
    cursor: pointer;
    fill: var(--bondiBlue) !important; 
} */
